* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4{
    font-weight: 300;
    text-transform: uppercase;
}

.citi-heading:after {
    display: block;
    height: 2px;
    background-color: #dc3545;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.79)), url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.heading-text{
    font-size: 400%;
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.heading-box{
    position: relative;
    top: 150px;

}
.abt:after{
   
   display: block;
    height: 2px;
    background-color: #dc3545;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}

.fa-trademark{
  position: relative;        
  font-size: 15px;  
  bottom: 40px;
  left: 10px;
}

.fa-trademark{
    
    color: red;
}

.svg-bar{
    max-width: 300px;
    margin: auto;
}
.tours{
    font-size: small;
     word-spacing: 5px; 
     color: grey;
}

.fa-angle-down{
    position: relative;
    top: 250px;
    color: #f44336;
    font-size: 300%;
    font-weight: lighter;
}

li{
    font-size: 14px;
}

.hvr-underline-reveal:before {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f44336;
    height: 2px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container  {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;
}

.gallery-container .page-description {
    text-align: center;
    margin: 25px auto;
    color: #999;
}

.tz-gallery {
    position: relative;
    top: 100px;
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row {
    padding: 2px;
}

.tz-gallery .lightbox{
    
    width: 100%;
    /*--max-height--*/
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    content: 'click';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

 .lightbox {
    width: 100%;
    max-width: 300px;
    
    border-radius: 0;
    position: relative;
}
.spot{
    margin: 10px;
}
.app{
    margin: 10px;
}

.full-image img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
}

.grid-img{
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-height: 104px;
    
}
.media{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.79)), url('../img/bock.jpg');
    background-size: cover;
    background-position: center;
    height: 170vh;
    background-attachment: fixed;
}
audio {
    width: 100%;
    height: 54px;
}
.card {
    margin: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.audio-card-row{
    margin: auto 0;
}
.audio-title{
    font-size: 120%;
}

/*contact form*/

.contact-form{
    background: linear-gradient(#8e9eab, #eef2f3);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #f44336;
    border: none;
    cursor: pointer;
}

/*---------footer-------*/

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #dc3545 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
/*--------section-----*/
.section-about{
    background-color: #a7a7a738;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.about-container{
    position: relative;
    top: 150px;
}


@media(max-width: 800px) {
.grid-img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-height: 104px;
    /* max-width: 300px; */
  }
  .fa-trademark {
    position: relative;
    font-size: 10px;
    bottom: 20px;
    left: 10px;
   }
    .contact-form .btnContact {
    width: 100%;
   }
   .heading-box {
    position: relative;
    top: 80px;
  }
  .fa-angle-down {
    display: none;
  }
  .card-img-top {
    display: none;
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.79)), url(../img/back.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
  }
  	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
   }
   .svg-bar{
       display: none;
   }
   .gallery-container {
    min-height: 80vh;
   }
  
}

@media(max-width: 600px) {
body{
    
    font-size: 16px;
  }
  .heading-text{
    font-size: 200%;
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
   }
  
   .about-container {
    position: relative;
    top: 50px;
}

}

@media(max-width: 411px) {
body{
    
    font-size: 16px;
  }
  h2,
  h3,
  h4,
  h5{
      font-size: 150%;
  }
  
  .contact-form .btnContact {
    width: 100%;
}
.media {
    
    height: 170vh;
    background-attachment: fixed;
}

  .citi-heading:after{
    font-size: 120%;
    display: block;
   
   }

  .heading-text{
    font-size: 120%;
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
  }
  svg {
    display: none;
    overflow: hidden;
    vertical-align: middle;
  }
  .gallery-container {
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;
}
.tz-gallery {
    position: relative;
    top: 0px;
    padding: 0px;
}
section {
    padding: 0px;
}
.card-img-top {
    display: none;
    
  }
 
}

@media(max-width: 365px) {
body{
    
    font-size: 16px;
   }
   .fa-trademark {
    display: none;
   }
   .about-container {
    position: relative;
    top: 50px;
  }
  .media {
    
    height: 200vh;
    background-attachment: fixed;
  }
  .about-container{
    position: relative;
    top: 10px;
 }
 li {
    font-size: 12px;
}
  
} 

