* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.79)), url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.heading-text{
    font-size: 400%;
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.fa-trademark{
  position: relative;        
  font-size: 15px;  
  bottom: 40px;
  left: 10px;
}

.fa-trademark{
    
    color: red;
}

.svg-bar{
    max-width: 300px;
    margin: auto;
}
.tours{
    font-size: small;
     word-spacing: 5px; 
     color: grey;
}

.fa-angle-down{
    position: relative;
    top: 250px;
    color: #f44336;
    font-size: 300%;
    font-weight: lighter;
}

li{
    font-size: 14px;
}

.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f44336;
    height: 2px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}